<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="animated tada" id="main">
        <div id="head">
            <span class="avatar">
                <img alt="" src="assets/avatar.jpg">
            </span>
            <h1 id="name">Turulix</h1>
            <p>
                Gamer & Developer from
                <u>
                    <a href="https://www.google.com/search?q=Germany">Germany</a>
                </u>
            </p>
            <p>Mainly developing Java / Kotlin</p>
        </div>
        <div id="icons">
            <ul>
                <li>
                    <a href="https://twitter.com/turulix" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/turulix" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitch.tv/turulix/" target="_blank">
                        <i class="fab fa-twitch"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
