* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background: #232424;
    width: 100%;
    height: 100%;
    //flex-direction: column;
    //justify-content: center;
}

app-root {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 425px) {
    body {
        background: white;
    }
    footer {
        color: black;
    }
}
